body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

input[type=text] {
    border: 1px solid #151515;
    width: 20%;
    height: 30px;
    margin-left: 70%;
}

input[type=button] {
    height: 30px;
}

.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #1a1a1a;
    color: #fff;
}

.content-container {
    padding-top: 20px;
}

.sidebar-logo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background-color: #2574A9;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}

.sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
}

.sidebar-navigation li .fa {
    margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
}

.sidebar-navigation li::before {
    background-color: #2574A9;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-navigation li:hover::before {
    width: 100%;
}

.sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #151515;
    padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
    background-color: transparent;
}

.content-container {
    padding-left: 220px;
}


/* code hoa don */

body {
    width: 100%;
    height: 100%;
}

.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #1a1a1a;
    color: #fff;
}

.content-container {
    padding-top: 20px;
}

.sidebar-logo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background-color: #2574A9;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}

.sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
}

.sidebar-navigation li .fa {
    margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
}

.sidebar-navigation li::before {
    background-color: #2574A9;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-navigation li:hover::before {
    width: 100%;
}

.sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #151515;
    padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
    background-color: transparent;
}

.content-container {
    padding-left: 220px;
}

.container-fluid {
    display: block;
    display: flex;
}

.container-fluid .container-sp {
    width: 60%;
    height: 100%;
}

.container-fluid .container-hd {
    width: 40%;
}

.title {
    text-align: center;
    color: #2574A9;
}

.h3 {
    margin: 3%;
    background-color: #2574A9;
    color: white;
    padding: 1%;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 2, 2, 0.2);
    transition: 0.3s;
    height: 320px;
    border-radius: 8%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(34, 2, 2, 0.2);
}

.container-info {
    padding: 2px 16px;
}

.container-bhd {
    width: 100%;
    height: 550px;
    border: 2px solid #2574A9;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #2574A9;
    box-shadow: 0 0 0 1px #2574A9;
}